@import url(bootstrap.css);

ody{
  margin: 0;
  padding: 0;
}
header{
  margin: 0;
  padding: 0;
  background: white;
}
nav h1{
float: left;
margin: 20px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 500;
line-height: 1.1;
color: inherit;
cursor: pointer;
}
nav h1 a{
  color: rgb(75, 75, 75);
}
nav h1 a:hover{
  text-decoration: none;
  color: rgb(75, 75, 75);
}
ul.nav{
  float: right;
}
ul.nav li{
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}
nav::after{
clear: both;
}
.menu-icon{
display: none;
}

/*** 
  Slider
***/
#slider{
padding: 180px 0 250px 0;
position: relative;
}
#slider img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  z-index: -3;
}

#slider #slider-content{
  /* letter-spacing: 1.5px; */
  /* word-spacing: 2px; */
  /* text-align: left; */
  color: rgb(8, 3, 65);
  /* margin-right: 30px; */
  /* margin-left: 30px; */
  height: 300px;
  /* z-index: 16; */
}
#slider h1{
font-family: 'Roboto', sans-serif;
font-weight: 100;
font-size: 45px;
line-height: 60px;
letter-spacing: 10px;
padding-bottom: 45px;
}
#slider p{
font-size: 23px;
line-height: 40px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
letter-spacing: 3px;
}


/* 
About us
*/
#about{
padding: 100px 0;
background: white;
}
#about .block{
width: 480px;
line-height: 30px;
margin: 15px 18px;
margin-right: 5px;
}
#about h3{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: inherit;
padding-top: 35px;
line-height: 27px;
margin: 0;
}
#about p {
color: #7B7B7B;
padding-top: 20px;
}
#about .section-title {
margin-bottom: 0px;
}
#about .section-title p {
padding-top: 20px;
font-style: italic;
}



/* 
Services
*/
#services{
text-align: center;
padding: 90px 0;
background: rgb(223, 222, 222);
}
#services .section-title{
margin-left: 30px;
margin-right: 30px;
}
#services .section-title p{
font-style: italic;
}
#services .service-item {
padding-bottom: 30px;
display: inline-block;
width: 250px;
line-height: 50px;
margin: 20px;
}
#services .service-item i {
font-size: 60px;
color: #4A4656;
}
#services .service-item h4 {
padding-top: 20px;
margin: 0;
color: #666;
}
#services .service-item p {
font-style: italic;
color: #888;
padding-top: 10px;
margin: 0;
font-size: 14px;
line-height: 1.8;
}


/* 
experiences
*/
#experiences{
text-align: center;
padding: 70px 0px;
position: relative;
text-align: center;
color: #fff;
}
#experiences img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  z-index: -1;
}
#experiences .block{
margin: auto;
line-height: 20px;
padding: 30px 0;
margin-right: 30px;
margin-left: 30px;
}
#experiences h2 {
padding-bottom: 20px;
line-height: 33px;
margin: 0;
font-size: 30px;
}
#experiences p {
font-size: 14px;
line-height: 1.6;
padding: 0px 0px 40px;
}
#experiences .btn{
padding: 15px 35px;
border: none;
background-color: #fff;
font-size: 15px;
color: #333333;
margin-top: 30px;
cursor: pointer;
}


/* 
footer
*/
footer{
padding: 30px 0;
text-align: center;
background: rgb(223, 222, 222);
padding-bottom: 30px;
}
footer .footer-menu ul{
list-style-type: none;
}
footer .footer-menu ul li{
display: inline-block;
margin: 15px;
cursor: pointer;
}

/*******------------
      CONTACT PAGE
---------*********/
#contact-slider{
  padding: 230px 0px;
  position: relative;
  color: rgb(10, 10, 10);
}
#contact-slider img{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: contrast(120%) saturate(1) opacity(0.5) hue-rotate(20deg);
}
#contact-slider-content{
  margin: auto;
}
#contact-slider h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 8px;
  padding-bottom: 45px;
  margin: auto;
}


.contact-info{
  padding: 100px 0;
  /* text-align: right; */
  background: rgb(250, 249, 249);
}
.contact-info p{
  font-size: 35px;
  text-align: center;
  width: 550px;
  /* border: 1px solid red; */
  margin: auto;
  text-shadow: 0 0 3px rgb(103, 166, 238), 0 0 5px #0000FF;
}
.contact-form{
  float: right;
  width: 300px;
  margin-top: 100px;
}
.contact-form::after{
  clear: both;
}
.contact-form form{
  /* border: 1px solid red; */
  width: 300px;
}
.contact-form form input{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-style: italic;
  border: 1px solid rgb(155, 156, 156);
  width: 300px;
}
.contact-form form textarea{
  resize: none;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  font-style: italic;
}
.contact-form form input[type="submit"]{
  border: 1px solid rgb(70, 142, 201);
  background: none;
  color: rgb(70, 142, 201);
  border-radius: 10px;
  outline: none;
  padding: 12px;
  font: bolder;
  font-size: 15px;
}
.contact-form form input[type="submit"]:hover{
  background: rgb(70, 142, 201);
  color: white;
}


/*******------------
      DEVELOPERS PAGE
---------*********/
header#developer{
  box-shadow: 0 5px 6px rgba(214, 212, 212, 0.4);
}

.developer{
  padding: 180px 0;
}
.developer fieldset {
  padding: 10px 0;
  margin: 0;
  border: none;
  border-top: 1px solid black;
  text-align: center;
}
.developer legend{
  text-align: center;
}
.developer legend h1{
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 35px;
  letter-spacing: 3px;
  margin: auto;
}
.developer fieldset .row{
  border: 1px solid rgba(214, 212, 212, 0.4);
  line-height: 30px;
  width: 200px;
  display: inline-block;
  margin: 20px;
  border-radius: 20px;
}
.developer img{
  width: 100%;
  height: 250px;
  display: inline-block;
  border-radius: 20px;
}
.developer fieldset .row:hover{
  box-shadow: -3px 7px 6px rgba(0, 0, 0, 0.3);
}


/*******------------
      WORKS PAGE
---------*********/

.work-slider{
  padding: 140px 0px;
  position: relative;
  background: linear-gradient(to right, #484553, rgb(93, 86, 116), rgb(127, 115, 161))
}
/* .work-slider img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px) ;
  z-index: -1;
} */
.work-slider h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  letter-spacing: 3px;
  margin: auto;
  color: white;
  width: 600px;
  text-align: center;
}


.projects{
  padding: 150px 0;
  text-align: center;

}
.project-categories ul{
  list-style: none;
  margin: auto;
  /* border: 1px solid rgb(145, 143, 143); */
  width: 500px;
  /* padding: 10px; */
}
.project-categories ul li{
  float: left;
  display: inline-block;
  font-size: 15px;
  border: 1px solid black;
  font-weight: bolder;
  padding: 10px;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  border-right: none;
  border-left: none;
}
.project-categories ul li::after{
  clear: both;
}
.project-categories ul li.everything{
  border-left: 1px solid;
}
.project-categories ul li.graphic-design{
  border-right: 1px solid;
}
.project-categories ul li.everything:before{
  content: "\f0d7";
    position: absolute;
    font-family: 'FontAwesome';
    bottom: -18px;
    font-size: 30px;
    width: 20px;
    left: 0px;
    right: 0px;
    top: 23px;
    margin: 0 auto;
    color: #fff;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.project-categories ul li:hover{
  color: #4A4656;
  cursor: pointer;
}
.project-categories ul li.everything:hover{
  
}




/*******------------
      MEDIA QUERIES
---------*********/
@media only screen and (max-width: 780px){
.drop-down{
  position: relative;
  display: block;
}
.drop-content{
  display:none;
  position:absolute;
  width:140px;
  z-index: 1;
  color: #fff;
  background: #322e40;
  right: 0;
  word-spacing: 0;
}
.drop-content li{
  padding: 0;
  margin: 0;
}
ul.nav li{
  margin: 10px;
  padding: 20px;
}
.menu-icon{
  float: right;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  margin: 30px 10px;
  background: none;
  outline: none;
  border: 1px thin gray inset;
}
.menu-icon::after{
  clear: both;
}
.drop-down:hover .drop-content{
  display:block;
}
.drop-down:hover .drop-content li:hover{
  text-decoration: underline;
}



/* Contact page */
.contact-info p{
  font-size: 25px;
  text-align: center;
  width: 450px;
  margin: auto;
  text-shadow: 0 0 3px rgb(103, 166, 238), 0 0 5px #0000FF;
}
}
@media screen and (max-width: 480px) {
  #slider h1{
    font-size: 26px;
  }
  #slider #slider-content{
    margin-left: 5px;
    margin-right: 5px;
  }
  #about .block{
    width: 250px;
  }

  /* Contact page */
  .contact-info p{
    font-size: 25px;
    text-align: center;
    width: 250px;
    margin: auto;
    text-shadow: 0 0 3px rgb(103, 166, 238), 0 0 5px #0000FF;
  }
  .contact-form form textarea{
    width: 280px;
  }
  .contact-form form input{
    width: 280px;
  }
  .contact-form form input[type="submit"]{
    width: 200px;
  }
}