body{
  margin: 0;
  padding: 0;
}
header{
  margin: 0;
  padding: 0;
  background: white;
}
nav h1{
float: left;
margin: 35px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 500;
line-height: 1.1;
color: inherit;
cursor: pointer;
}
ul.nav{
  float: right;
}
ul.nav li{
  display: inline-block;
  margin: 50px;
  cursor: pointer;
}
nav::after{
clear: both;
}
.menu-icon{
display: none;
}

/*** 
  Slider
***/
#slider{
padding: 180px 0 250px 0;
position: relative;
}
#slider img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  z-index: -3;
}

#slider #slider-content{
  /* letter-spacing: 1.5px; */
  /* word-spacing: 2px; */
  /* text-align: left; */
  color: rgb(8, 3, 65);
  /* margin-right: 30px; */
  /* margin-left: 30px; */
  height: 300px;
  /* z-index: 16; */
}
#slider h1{
font-family: 'Roboto', sans-serif;
font-weight: 100;
font-size: 45px;
line-height: 60px;
letter-spacing: 10px;
padding-bottom: 45px;
}
#slider p{
font-size: 23px;
line-height: 40px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
letter-spacing: 3px;
}


/* 
About us
*/
#about{
padding: 100px 0;
background: white;
}
#about .block{
width: 480px;
line-height: 30px;
margin: 15px 18px;
margin-right: 5px;
}
#about h3{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: inherit;
padding-top: 35px;
line-height: 27px;
margin: 0;
}
#about p {
color: #7B7B7B;
padding-top: 20px;
}
#about .section-title {
margin-bottom: 0px;
}
#about .section-title p {
padding-top: 20px;
font-style: italic;
}



/* 
Services
*/
#services{
text-align: center;
padding: 90px 0;
background: rgb(223, 222, 222);
}
#services .section-title{
margin-left: 30px;
margin-right: 30px;
}
#services .section-title p{
font-style: italic;
}
#services .service-item {
padding-bottom: 30px;
display: inline-block;
width: 250px;
line-height: 50px;
margin: 20px;
}
#services .service-item i {
font-size: 60px;
color: #4A4656;
}
#services .service-item h4 {
padding-top: 20px;
margin: 0;
color: #666;
}
#services .service-item p {
font-style: italic;
color: #888;
padding-top: 10px;
margin: 0;
font-size: 14px;
line-height: 1.8;
}


/* 
experiences
*/
#experiences{
text-align: center;
padding: 70px 0px;
position: relative;
text-align: center;
color: #fff;
}
#experiences img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  z-index: -1;
}
#experiences .block{
margin: auto;
line-height: 20px;
padding: 30px 0;
margin-right: 30px;
margin-left: 30px;
}
#experiences h2 {
padding-bottom: 20px;
line-height: 33px;
margin: 0;
font-size: 30px;
}
#experiences p {
font-size: 14px;
line-height: 1.6;
padding: 0px 0px 40px;
}
#experiences .btn{
padding: 15px 35px;
border: none;
background-color: #fff;
font-size: 15px;
color: #333333;
margin-top: 30px;
cursor: pointer;
}


/* 
footer
*/
footer{
padding: 30px 0;
text-align: center;
background: rgb(223, 222, 222);
padding-bottom: 30px;
}
footer .footer-menu ul{
list-style-type: none;
}
footer .footer-menu ul li{
display: inline-block;
margin: 15px;
cursor: pointer;
}

/*******------------
      CONTACT PAGE
---------*********/
#contact-slider{
  padding: 230px 0px;
  position: relative;
  color: rgb(10, 10, 10);
}
#contact-slider img{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: contrast(120%) saturate(1) opacity(0.5) hue-rotate(20deg);
}
#contact-slider-content{
  margin: auto;
}
#contact-slider h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 8px;
  padding-bottom: 45px;
  margin: auto;
}


.contact-info{
  padding: 100px 0;
  /* text-align: right; */
  background: rgb(250, 249, 249);
}
.contact-info p{
  font-size: 35px;
  text-align: center;
  width: 550px;
  /* border: 1px solid red; */
  margin: auto;
  text-shadow: 0 0 3px rgb(103, 166, 238), 0 0 5px #0000FF;
}
.contact-form{
  float: right;
  width: 300px;
  margin-top: 100px;
}
.contact-form::after{
  clear: both;
}
.contact-form form{
  /* border: 1px solid red; */
  width: 300px;
}
.contact-form form input{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-style: italic;
  border: 1px solid rgb(155, 156, 156);
}
.contact-form form textarea{
  resize: none;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  font-style: italic;
}
.contact-form form input[type="submit"]{
  border: 1px solid rgb(70, 142, 201);
  background: none;
  color: rgb(70, 142, 201);
  border-radius: 10px;
  outline: none;
}







/*******------------
      MEDIA QUERIES
---------*********/
@media only screen and (max-width: 780px){
.drop-down{
  position: relative;
  display: block;
}
.drop-content{
  display:none;
  position:absolute;
  width:120px;
  z-index: 1;
  color: #fff;
  background: #322e40;
  right: 0;
  word-spacing: 0;
}
.drop-content li{
  padding: 0;
  margin: 0;
}
ul.nav li{
  margin: 10px;
  padding: 20px;
}
.menu-icon{
  float: right;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  margin: 30px 10px;
  background: none;
  outline: none;
  border: 1px thin gray inset;
}
.menu-icon::after{
  clear: both;
}
.drop-down:hover .drop-content{
  display:block;
}
.drop-down:hover .drop-content li:hover{
  text-decoration: underline;
}



/* Contact page */
.contact-info p{
  font-size: 25px;
  text-align: center;
  width: 450px;
  margin: auto;
  text-shadow: 0 0 3px rgb(103, 166, 238), 0 0 5px #0000FF;
}
}
@media screen and (max-width: 480px) {
  #slider h1{
    font-size: 33px;
  }
  #slider #slider-content{
    margin-left: 5px;
    margin-right: 5px;
  }
  #about .block{
    width: 250px;
  }

  /* Contact page */
  .contact-info p{
    font-size: 25px;
    text-align: center;
    width: 250px;
    margin: auto;
    text-shadow: 0 0 3px rgb(103, 166, 238), 0 0 5px #0000FF;
  }
  .contact-form form textarea{
    width: 280px;
  }
}